@page
@model GiocaModel
@{
  ViewData["Title"] = "Gioca";
}

<h1>@ViewData["Title"]</h1>

<h3>Benvenuto @User.Identity.Name</h3>

<a 
class="btn btn-danger m-5 p-5" 
asp-route-nome="@User.Identity.Name" 
asp-page="PartitaDoppia"
>
Gioca modalità a risposta multipla
</a>

<a 
class="btn btn-danger m-5 p-5" 
asp-route-nome="@User.Identity.Name" 
asp-route-difficolta="facile" 
asp-page="Partita"
>
Gioca modalità a scelta esclusiva
</a>