/* *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} */

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #333;
    color: #efff;
    padding: 20px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;         /*sovrascrivo il font ereditato dal body*/
}

a{
    text-decoration: none;
    color: blue;
}

a:hover{
    text-decoration: underline;
}

nav {
    background-color: #666;
    color: #efff;
    padding: 20px;
    text-align: center;
}

nav a {                                                                 /*sto selezionando gli a dentro il nav*/
    color: #efff;
    text-decoration: none;
    padding: 20px;
}

nav a:hover {
    background-color: #efff;
    color: #000;
}

section {
    padding: 20px;                                                      
}

footer{
    background-color: #333;
    color: #666;
    padding: 20px;
    text-align: center;
}

footer p{
    text-align: center;
}

footer ul{
    text-align: center;
    padding: 20px;
}

img {
    display: inline-block;
    margin: 0 auto;         /*auto mette una distanza equa ai lati o alto e basso. La proprietà margin: 0 auto; funziona solo su elementi block.*/
}

p {
    text-align: justify;
    text-indent: 20px;
    line-height: 1.5;      /*si imposta l'altezza della riga a 1.5 volte l'altezza del carattere corrente all'interno dell'elemento.*/
}

h1 {
    text-align: center;
}

header h1{
    text-align: center;
    line-height: 1.5;
}

header p{
    text-align: center;
    text-indent: 20px;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0px;
}

ul li{
    padding: 10px;
}

ol{
    list-style-type: upper-alpha;
    padding: 20px;
}

ol li{
    padding: 10px;
}