body{
    background-color: rgb(226, 226, 226);
}

.navar{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-brand{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    color: #000000;
  }
  
  .nav-item{
    font-weight:600;
    margin-left: 1.5rem;
  }
  

h3{
    color: white;
    text-align: center;
    margin-top: 40px;
}

#prodotti-elettronica
{
    margin-bottom: 65px;
}

.card{
    box-shadow: 0px 2px 5px black;
    transition: transform 0.5s;
    cursor: pointer;
    text-align: center;
}

.card:hover{
    transform: translateY(-15px);
    
}

.card-img-top{
    padding: 60px;
    margin-top: -15px;
}

.card-img{
    padding: 60px;
    margin-top: -15px;
}

.card-body{
    margin-top: -40px;
    margin-bottom: 20px;
}

.star{
    color: rgb(192, 184, 25);
    /* margin-bottom: 20px; */
}

.btn {
    width: 100%;
    border-radius: 5px;
    border: 2px solid;
    border-color: green;
    margin-top: 20px !important;
    margin-bottom: -10px !important;
}



