.body{
  /*mettere poppins*/
}

.navbar-brand{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 30px;
  color: #000000;
}

.nav-item{
  font-weight:600;
  margin-left: 1.5rem;
}

  .card {
    min-width: 230px; /* Imposta una larghezza minima per la card */
    border-radius: 30px;
    /* box-shadow: 10px 5px 5px rgb(174, 174, 174); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .card-img-top{
    border-radius: 50px;
    padding: 20px;
  }

.row{
  display: flex;
  flex-direction: row;
}

.btn-primary{
  border-radius: 50px;
  margin-left: 240px;
  margin-bottom: -20px;

}

 /* .card-body {
    max-height: 5rem;
}  */


  .head-banner
  {
    padding-top: 8rem;
    padding-bottom: 8rem;
    background-image:url('./imgs/vecteezy_online-shopping-on-phone-buy-sell-business-digital-web_4299835.jpg');
    background-size: cover;
    background-position: top;
    object-fit: cover;
  }

  @media (max-width: 1400px) {
    .card-img-top{
      height: 203px !important;
    }
    .btn-primary {
        margin-left: 190px;
    }
}


  @media (max-width: 1200px) {
    .btn-primary {
        margin-left: 150px;
    }
}

@media (max-width: 991px) {
  .btn-primary {
      margin-left: 60px;
  }
}


@media (max-width: 767px) {
  .row-cols-md-3 .col-12 {
      flex: 0 0 100%;
      max-width: 100%;
  }

  /* .card-img-top{
    width: 400px;
  } */

  .card{
    max-width: 450px;
    margin-left: 40px;
  }

  .we {
    text-align: center;
    align-items: center;
  }

}

