@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var nome = "nome";
    @* ViewData["Message"] = "Hello from Razor";  (potevo scriverlo anche qua)*@  
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class ="text-center">
    <h1 class = "display-4">Benvenuto @nome</h1>
    <p> @ViewData["Message"]</p>
</div>


@* ho scritto  *@