
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>Hello, @User.Identity.Name</h1>
<h1>@User.Identity.IsAuthenticated</h1>
@if(User.Identity.IsAuthenticated)
{
    <h1>Hello, @User.Identity.Name</h1>
}
else
{
    <h1>Hello, guest!</h1>
}